
        body {
            width: 100vw;
            height: 100vh;
            margin: 0;
            overflow: hidden;
            cursor: url('./images/red-cursor.svg'), default;
            /* cursor: url('./images/cursor.svg'), default; */
            /* cursor: none; */
            background-color: #222222;
        } 
        #soundIcon { 
            cursor: url('./images/red-click.svg'), default;
            position: absolute;
            top: 80px;
            left: 20px;
            height: 40px;
            width: 40px;
        }

        #flagIcon {
            cursor: url('./images/red-click.svg'), default;
            position: absolute;
            height: 40px;
            width: 40px;
            top: 20px;
            left: 20px;
        } 

        #cvIcon { 
            cursor: url('./images/red-click.svg'), default;
            position: absolute;
            top: 140px;
            left: 20px;
            height: 40px;
            width: 40px;
        }

        #panel { 
            display: none;
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #222222;
            color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            font-family: 'Roboto', sans-serif;
        }

        #commandPanel {
            position: absolute;
            top: 20px;
            right: 20px;
            background-color: #222222;
            color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 10px;
            width: 200px;
            font-family: 'Roboto', sans-serif;
        }